<div id="<%= dom_id user %>">
  <p>
    <strong>First_name:</strong>
    <%= user.first_name %>
  </p>
  <p>
  <strong>Last_name:</strong>
  <%= user.first_name %>
</p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Password_digest:</strong>
    <%= user.password %>
  </p>

  <p>
    <strong>Guest:</strong>
    <%= user.guest %>
  </p>

</div>
